.main {
    text-align: center;
}

#main-img {
    width: 37%;
    border-radius: 50%;
}

/* Título con efecto */
h1 {
    color: #fff;
    font-size: 50px;
    border-right: 0.1em solid;
    margin: auto;
    width: 16ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3s steps(27, end),
        cursor-blink 0.5s step-end infinite alternate;
}
@keyframes typing {
    from {
        width: 0;
    }
}
@keyframes cursor-blink {
    50% {
        border-color: transparent;
    }
}

p {
    font-size: 150%;
    color: rgb(211, 211, 211);
}

.main ul {
    margin: 0;
    padding-top: 10px;
}

.main li {
    display: inline-block;
    font-size: 20px;
    margin: 0;
}

.main a {
    color:rgb(211, 211, 211);
    background-color: rgb(117, 134, 151);
    padding: 12px 10px;
    text-decoration: none;
}

.main a:hover {
    background-color: rgb(97, 112, 128);
    box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, .3);
}

.main li:first-child a {
    border-radius: 6px 0 0 6px;
}

.main li:last-child a {
    border-right: 0;
    border-radius: 0 6px 6px 0;
}

